.cartButton button{
    padding:20px;
    border:none;
    font-size: 18px;
}
.cartButton span{
    background-color: yellow;
    border-radius: 100%;
    padding:10px;
    position: relative;
    bottom:30px;
    right: 10px;
}

.cartModal{
    position:fixed;
    top:60%;
    left:50%;
    width: 50rem;
    height:40rem;
    background-color:antiquewhite;
    color: #adb5bd;
    transform: translate(-50%, -50%);
    overflow: scroll;
}
.cartHeading{
    display: flex;
    align-items: center;
    width:100%;
    margin:0;
}

.cartHeading p{
    text-align: center;
    font-size: 28px;
    letter-spacing: 5px;
    margin-left: 15rem;
}
.cartHeading button{
  margin-left:13rem;
}
.cartModal{
    z-index: 1;
}
.cartModal div{
    width:90%;
    display: flex;
    gap:20px;
    margin:20px;
}

button:hover{
    cursor: pointer;
}
.cartModal div img {
    width: 10rem;
    height: 10rem;
}
.cartModal div div {
    display: flex;
    flex-direction: column;
    gap:0;

}
.cartContent{
    padding-bottom: 28px;
    border-bottom: 1px solid #ced4da;
}

.cartContent button {
    width:8rem;
    height:3rem;
    border:none;
    background-color: #e03131;
    font-size: 18px;
    color:white;
    letter-spacing: 2px;
    
}
.cartModal div div p {
    margin: 0;
}
.cartModal div div p:nth-child(1){
    font-size: 38px;
    color:#343a40;
}
.cartContent div p:nth-child(3){
    font-size: 32px;
    color:#343a40;
    font-weight: 600;
}
.cartTotal{
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10px;
    color:#343a40;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}
.cartTotal button{
    padding:10px;
    border:none;
    font-size: 18px;
    background-color:#12b886;
    color:white;
}